/* fonts start */

  /* vietnamese */
  @font-face {
    font-family: 'Sedgwick Ave';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sedgwickave/v6/uK_04rKEYuguzAcSYRdWTJqMVmI0Zcc.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Sedgwick Ave';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sedgwickave/v6/uK_04rKEYuguzAcSYRdWTJqMV2I0Zcc.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Sedgwick Ave';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sedgwickave/v6/uK_04rKEYuguzAcSYRdWTJqMWWI0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
/* fonts end */

/* reset css start */

a {
  color: inherit;
}

a:hover {
  color: #de0025;
  text-decoration: none;
}

img {
  width: 100%;
}

.icon-arrow-right {
  font-size: 65%;
}

.sectipn_p {
  z-index: 1;
  position: relative;
}

.title_main p {
  color: #de0025;
  margin-bottom: 2rem; 
}

.title_main_content {
  font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  margin-top: 20px;
  margin-bottom: 65px;
  font-weight: 800;
  position: relative;
}

.title_main_name {
  font-family: 'Sedgwick Ave', cursive;
  font-size: calc(35px + (85 - 35) * ((100vw - 320px) / (1920 - 320)));
  position: absolute;
  color: #de002557;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 100%;
  z-index: -1;
  font-weight: 400;
}


/* reset css end */


/* Css Contact Top start */

  .section_contact_top {
    padding: 1.5rem  0 2rem;
  }

  .section_contact_top i::before {
    line-height: inherit;
    font-size: 26px;
    font-weight: 600;
  }

  .img_contact_top {
    width: 60px;
    height: 60px;
    padding: 10px;
    background-color: #de0025;
    color: #fff;
    border-radius: 50%;
    margin-right: 15px;
    align-items: center;
    text-align: center;
  }

  .content_contact_top span {
    font-size: 14px;
    color: #9B9B9B;
  }

  .contact_about_top {
    background-color: #de0025;
    color: #fff;
    padding: 20px 15px;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;
    z-index: 9999;
  }

  .contact_about_top::after,
  .contact_about_top::before {
    position: absolute;
    content: '';
    background-color: #FDB819;
    width: 100%;
    height: 40px;
    opacity: 0.4;
    transform: rotate(-45deg);
  }

  .contact_about_top::after {
    top: 85px;
    left: -41px;
  }

  .contact_about_top::before {
    top: 99px;
    left: 14px;
  }

  .title_c_top ,
  .contact_about_top p,
  .title_main p {
    font-size: 20px;
    font-weight: bolder;
  }

  .contact_about_top span {
    font-size: 14px;
  }

  .contact_about_top a {
    color: #fff;
    display: flex;
    align-items: center;
  }

  .contact_about_top p,
  .contact_about_top span,
  .contact_about_top a {
    position: relative;
    z-index: 999;
  }

  .contact_about_top a:hover {
    text-decoration: none;
  }

  .contact_about_top i {
    background-color: #fff;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    color: #de0025;
    text-align: center;
    margin-left: 10px;
  }

  .contact_about_top i::before {
    font-size: 20px;  
  }

  .btn__link {
    min-width: 0;
    line-height: 1;
    height: auto;
  }

/* Css Contact Top end */

/*  Css List Service start */

  .List_service {
    background-color: #f9f9f9;
  }

  .service_items {
    box-shadow: 0px 1px 9px 0px rgb(228 228 228 / 70%);
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }
  
  .service_items:hover {
    -webkit-box-shadow: 5px 8.66px 30px 0px rgb(0 0 0 / 10%);
    box-shadow: 5px 8.66px 30px 0px rgb(0 0 0 / 10%);
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }

  .service_item_img {
    position: relative;
    overflow: hidden;
  }

  .service_item_img img {
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }

  .service_items:hover .service_item_img img {
    transform: scale(1.03);
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
  }

  .service_item_content {
    background-color: #fff;
    padding: 15px 20px;
    position: relative;
    overflow: hidden;
  }

  .service_item_content .title {
    text-align: center;
    padding-bottom: 1rem; 
    border-bottom: 3px solid #ececec;
  }

  .blog_link {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-transition: all 0.9s linear;
    -moz-transition: all 0.9s linear;
    -ms-transition: all 0.9s linear;
    -o-transition: all 0.9s linear;
    transition: all 0.9s linear;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  .blog_link i {
    margin-left: 15px;
    font-size: 20px;
    font-weight: 600;
    padding-top: 2px;
  }

  .blog_link span {
    opacity: 0;
  }

  .service_items:hover .blog_link {
    font-weight: bold;
    color: #de0025;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

  .service_items:hover .blog_link span {
    opacity: 1;
  }

  .blog_link i {
    width: 40px;
    height: 24px;
    line-height: 15px;
    text-align: center;
    background-color: #222;
    color: #fff;
    border-radius: 5px;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  } 

  .service_items:hover .blog_link i {
    background-color: #de0025;
  }


/*  Css List Service end */